.div-header{
    display: flex;
    justify-content: center;
    padding-bottom: 60px;
}
.header {
    position: absolute;
    top: 0; /* Stick it to the top */
    max-height: 70px;
    width: 70vw;
  
    display: grid;
    grid-template-areas: "nav";
  
    /* Cosmetics */
    background-color: transparent;
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); */
    z-index: 9999;
  }
  
  .logo {
    /* grid-area: logo; */
    width: 200px;
  }
  
  .nav {
    display: grid;
    grid-area: nav;
    grid-template-columns: repeat(5, auto);
    align-items: center;
    justify-items: center;
  }

  .nav a {
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    transition: 0.5s;
    text-decoration: none;
    text-shadow: black 0.1em 0.1em 0.2em;
    font-weight: 500;
  }
  .nav a:hover {
    transform: scale(1.1);
  }
  .nav button {
    padding: 10px;
    outline: none;
    border: none;
    font-size: 20px;
    color: #fff;
    font-weight: 600;
    background-color: rgba(255, 0, 0, 0.5);
    box-shadow: 0px 5px 0px 0px rgba(255, 0, 0, 0.25);
    border-radius: 10px;
    cursor: pointer;
    transition: 70ms;
  }
  
  .nav button:active {
    transform: translateY(3px);
    box-shadow: 0px 2px 0px 0px rgba(255, 0, 0, 0.25);
  }
  
  .burger {
    display: none;
    grid-area: burger;
    margin: 20px 20px 0 0;
    padding: 0;
    justify-self: end;
    font-size: 40px;
    border: none;
    background: none;
    outline: none;
    transition: 0.1s;
  }
  .burger:active {
    transform: scale(1.2);
  }
  
  @media (max-width: 1000px){
    .header {
      width: 100vw;
      grid-template-areas: "logo burger" "nav nav";
    }
    .logo {
      height: 30px;
      padding-top: 10px;
      padding-left: 20px;
      padding-bottom: 5px;
    }
    .nav {
      grid-template-rows: repeat(4, auto);
      grid-template-columns: none;
      grid-row-gap: 20px;

      padding: 30px 0 30px;
      background: rgba(40, 44, 47, 0.95);
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
      margin-top: -20px;
    }
    .burger {
      display: inline;
    }
  }

  @media (max-width: 700px) {
    .header {
        width: 100vw;
        grid-template-areas: "logo burger" "nav nav";
    }
    .logo {
        height: 30px;
        padding-top: 10px;
        padding-left: 20px;
        padding-bottom: 5px;
    }
    .nav {
      grid-template-rows: repeat(4, auto);
      grid-template-columns: none;
      grid-row-gap: 20px;
  
      padding: 30px 0 30px;
      background: rgba(40, 44, 47, 0.95);
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
    }
    .burger {
      display: inline;
    }
  }
  
  .navanimation-enter {
    opacity: 0;
    transform: scale(0.5);
  }
  .navanimation-enter-active {
    opacity: 1;
    transform: translateX(0);
    transition: opacity 350ms, transform 350ms;
  }
  .navanimation-exit {
    opacity: 1;
  }
  .navanimation-exit-active {
    opacity: 0;
    transform: scale(0.5);
    transition: opacity 350ms, transform 350ms;
  }

  .hamburguer {
    position: relative;
    display: block;
    background: #FFF;
    width: 30px;
    height: 2px;
    top: 2px;
    left: 5px;
    transition: 0.5s ease-in-out;
  }
  
  .hamburguer:before,
  .hamburguer:after {
    background: #FFF;
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    transition: 0.5s ease-in-out;
  }

  .hamburguer:before {
    top: -10px;
  }
  
  .hamburguer:after {
    bottom: -10px;
  }