h1, h2, h3, h4, h5, h6, p, 
a, li, ul, ol,
label, button{
    font-family: 'Bebas Neue', cursive;
}

.home{
    background: url('./images/bg_1.png') no-repeat;
    background-size: 100% 100%;
}

.home .text-home{
    display: flex;
    justify-content: center;
    padding-top: 60px;
}

.home .text-home .div-titulo{
    width: 50vw;
}

.home .text-home .div-titulo p{
    margin: 0;
    text-align: center;
    font-size: 80px;
    color: #ffffff;
}

.home .text-home .div-titulo p span.text-red{
    color: #91110a;
}

.home .text-home .div-titulo p span.text-yellow{
    color: #a06310;
}

.home .div-seta{
    width: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 0;
    padding-bottom: 10px;
}

.home .div-seta .setas{
    display: flex;
    flex-direction: column;
}

.home .div-seta .setas i{
    color: #fff;
    font-size: 60px;
    font-weight: bold;
}

.home .div-seta .setas i.cima{
    position: absolute;
    bottom: 35px;
}

.trabalhos{
    background: url('./images/bg_trabalhos.png') no-repeat;
    background-size: 100% 100%;
}

.trabalhos .div-trabalhos{
    display: flex;
    justify-content: center;
}

.trabalhos .div-trabalhos .info-trabalhos{
    background: transparent;
    display: grid;
    height: 90vh;
    width: 90vw;
    grid-template-columns: repeat(2, auto);
    align-items: center;
    justify-items: center;
}

.trabalhos .div-trabalhos .info-trabalhos .galeria{
    display: grid;
    /* grid-template-columns: repeat(4, auto); */
    grid-template-columns: repeat(auto-fill, minmax(150px, 4fr));
    grid-auto-rows: minmax(150px, auto);
    grid-auto-flow: dense;
    grid-column-gap: .5em;
    grid-row-gap: .5em;
    margin: 20px 0 0 0;
}

.trabalhos .div-trabalhos .info-trabalhos .galeria img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
}

.trabalhos .div-trabalhos .info-trabalhos .galerio-info{
    width: 330px;
    margin: 0;
    color: #d8d8d8;
    font-size: 35px;
    /* padding-top: 70px; */
}

.artista{
    background: url('./images/bg_artista.png') no-repeat;
    background-size: 100% 100%;
}

.artista .div-artista{
    display: flex;
    justify-content: center;
}

.artista .div-artista .info-artista{
    background: transparent;
    display: grid;
    height: 90vh;
    width: 90vw;
    grid-template-columns: repeat(2, auto);
    align-items: center;
    justify-items: center;
}

.artista .div-artista .info-artista .div-artista-foto{
    background: url('./images/moldura-artista.png') no-repeat;
    background-size: 100% 100%;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.artista .div-artista .info-artista .div-artista-foto .img-artista{
    width: 300px;
    height: 300px;
    border-radius: 50%;
}

.artista .div-artista .info-artista .div-artista-texto{
    width: 400px;
}

.artista .div-artista .info-artista .div-artista-texto p{
    margin: 0;
    color: #d8d8d8;
    font-size: 35px;
    padding-top: 70px;
}

.orcamento{
    background: url('./images/bg_orcamento.png') no-repeat;
    background-size: 100% 100%;
}

.orcamento .wallpaper-celular{
    /* width: 90vw; */
    /* height: 90vh; */
    padding: 9px;
    background: url('./images/bg_orcamento_setas.png') no-repeat;
    background-size: 90% 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(550px, 4fr));
}

.orcamento .wallpaper-celular .orcamento-info{
    padding-left: 90px;
}

.orcamento .wallpaper-celular .orcamento-info p{
    color: #d8d8d8;
    font-size: 50px;
    padding-top: 70px;
}

.orcamento .wallpaper-celular .orcamento-info p span{
    color: #a50e04;
}

.orcamento .wallpaper-celular .orcamento-info a p{
    margin: 0;
    color: #e2d7d7;
    background-color: #72110c;
    border: 3px #fff solid;
    border-radius: 4px;
    padding: 0px 15px;
    font-size: 27px;
    width: 164px;
}

.orcamento .wallpaper-celular .orcamento-info a:link{
    text-decoration: none;
}

.contatos{
    background: url('./images/bg_contato.png') no-repeat;
    background-size: 100% 100%;
}

.contatos .div-contatos{
    display: flex;
    justify-content: center;
    height: 300px !important;
}

.contatos .div-contatos .img-footer{
    width: 100%;
    text-align: center;
    bottom: 0;
    position: absolute;
    padding-bottom: 10px;
}

.contatos .div-contatos .img-footer img.logo-footer{
    width: 100px;
    height: 100px;
}

.contatos .div-contatos .footer{
    max-height: 70px;
    width: 90vw;
    display: grid;
    grid-template-columns: repeat(4, auto);
    align-items: center;
    justify-items: center;
    background-color: transparent;
}

.contatos .div-contatos .footer .links ul{
    list-style: none;
    font-size: 22px;
    padding: 0;
}
.contatos .div-contatos .footer .links ul li a{
    color: #FFF;
}
.contatos .div-contatos .footer .links ul li a:link{
    text-decoration: none;
}

.contatos .div-contatos .footer .localizacao{
    width: 160px;;
    color: #ffffff;
}

.contatos .div-contatos .footer .localizacao p{
    font-family: 'Roboto', sans-serif !important;
    font-weight: bold;
    word-break: break-all;
}

.contatos .div-contatos .footer .whatsapp{
    padding-bottom: 40px;
    color: #FFF;
}

.contatos .div-contatos .footer .whatsapp .whatsapp-info{
    font-family: 'Roboto', sans-serif !important;
    font-weight: bold;
}

.contatos .div-contatos .footer .sociais{
    width: 100%;
    padding-bottom: 50px;
    display: flex;
    justify-content: space-around;
}
.contatos .div-contatos .footer .sociais img{
    width: 30px;
    height: 30px;
}
.contatos .div-contatos .footer .sociais img.icon-facebook{
    width: 15px !important;
}


#fp-nav ul li a span, .fp-slidesNav ul li a span{
    background: #ffffff !important;
}